.section-one {
    background-color: black;
    color: white;
}

.section-one__desc {
    color: grey;
    padding-bottom: 30px;
}

.section-one__title {
    padding-top: 20px;
}

.section-two__img {
    height: 300px;
    width: 300px;
    padding: 10px;
    border: 30px;
    border-radius: 30px;
}

.section-three__img {
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

.section-four__img {
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

.section-five__img {
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

.section-two {
    color: solid black;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.section-three {
    color: solid black;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.section-four {
    color: solid black;
    padding-left: 5px;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.section-five {
    color: solid black;
    padding-left: 5px;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    margin-left: 270px;
    margin-right: 200px;
}

.section-two,
.section-three,
.section-four,
.section-five {
    background-color: azure;
}


.section-two,
.section-three,
.section-four,
.section-five {
    border: 1px solid black;
}

.section-six {
    background-color: black;
    color: white;
    text-align: center;
    height: 300px;

}

.section-six__button {
    background-color: yellow;
    color: black;
    padding-left: 150px;
    padding-right: 150px;
    margin: 20px;
    height: 30px;
}

.section-two__button,
.section-three__button,
.section-four__button,
.section-five__button {
    border: black;
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

.section-six__title {
    padding-top: 30px;
}

.section-two__button:hover {
    background-color: lightgoldenrodyellow;
    color: black;
}

.section-three__button:hover {
    background-color: lightgoldenrodyellow;
    color: black;
}

.section-four__button:hover {
    background-color: lightgoldenrodyellow;
    color: black;
}

.section-five__button:hover {
    background-color: lightgoldenrodyellow;
    color: black;
}